<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Customization</title>
    <link href="../Content/dx.material.teal.light.compact.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../Scripts/dx.all.js"></script>
    <script src="../Data/customCell.js"></script>
</head>
<body>
    <span>Cell Template</span>
    <div id="gridContainor"></div><br />

    <span>Row Template</span>
    <div id="gridContainor1"></div>
    <script src="../Js/Customization.js"></script>
</body>
</html>