<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dev Extreme Form</title>
    <!--Theme Link-->
    <link href="../Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <!--jQuery Min File-->
    <script src="../Scripts/jquery-3.5.1.min.js"></script>

    <!--DevExtreme Script-->
    <script src="../Scripts/dx.all.js"></script>

    <link rel="stylesheet" href="../Css/style.css" />
</head>
<body>
    <form method="post" action="DXForm.html">
        <div id="dxForm"></div>
    </form>
    <script src="../Js/dxForm.js"></script>
</body>
</html>