<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DevExtreme Form</title>
    
    <!--Theme Link-->
    <link href="../Content/dx.light.css" rel="stylesheet" />
    <!--jQuery Min File-->
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    
    <!--DevExtreme Script-->
    <script src="../Scripts/dx.all.js"></script>

    <link rel="stylesheet" href="../Css/style.css" />
</head>
<body>

    <div class="dx-viewport">
        <div class="container">

            <div class="dx-label heading">Registration Form</div>


            <div class="dx-fieldset">
                <div class="dx-field">
                    <div id="dxName" name="name"></div>
                </div>

                <div class="dx-field">
                    <div id="dxEmail"></div>
                </div>

                <div class="dx-field">
                    <div id="dxPassword"></div>
                </div>

                <div class="dx-field">
                    <div id="dxNumber"></div>
                </div>
                <div id="dxPanCheck"></div>
                <div id="dxAdharCheck"></div>

                <div id="dxBirthDate" class="space"></div>
            </div>

            <div id="dxSubmitButton" class="button"></div>
            <div id="dxResetButton" class="button"></div>
            <div id="dxCancelButton" class="button"></div>
        </div>
    </div>

    <script src="../Js/form.js"></script>
</body>
</html>