.button {
        background-color: #03a9f4;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 8px;
    cursor: pointer;
}

.select {
    width: 650px;
    height: 30px;
    border-radius: 10px;
    border-bottom: 0px !important;
    background-color: transparent;
}

.dx-texteditor::after {
    display: none;
}

.dx-texteditor::before {
    display: none;
}

.summary {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.updatingState{
    border: 2px black dotted;
    background-color : aqua;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    height: auto;
}

.myEditor {
    padding: 2px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: aliceblue;
}

.header{
    margin: 10px;
}

.filter {
    padding: 20px;
    border-radius: 0px;
}