<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--Dev Extreme Theme-->
    <link href="../Content/dx.light.compact.css" rel="stylesheet" />
    <!--jQuery Min File-->
    <script src="../Scripts/jquery-3.5.1.min.js"></script>

    <!--Dev Extreme widget link-->
    <script src="../Scripts/dx.all.js"></script>

    <link rel="stylesheet" href="../css/style.css" />

</head>
<body>

    <div id="simpleCheck"></div>
    <div id="simpleBtn"></div>
    <div id="resetDefault"></div>
    <script src="../Js/CheckBox.js"></script>
</body>
</html>