<html>

<head>
    <title>Menu</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.1.10/css/dx.light.css">

    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.1.10/js/dx.all.js"></script>

    <style>
        #menu1 {
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="menu1"></div>
    <script src="../Js/01-SimpleNavigation.js"></script>
    <script src="../Data/01-data.js"></script>
</body>

</html>