<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Content/dx.light.compact.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../Scripts/dx.all.js"></script>
    <script src="../Data/02-Data.js"></script>
    <style>
        .dx-treeview-select-all-item{
            border-bottom: none;
            display: inline-block;
        }
        .customize{
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            font-size: medium;
        }
        .serach{
            width: 350px;
            height: 200px;
            border-radius: 20px;
        }
/*        .test{
            height:200px;
        }*/
    </style>
</head>
<body>
    <div class="conatinor">
        <div id="treeView" class="test"></div>
    </div>
    <script src="../Js/02-SimpleTreeView.js"></script>
</body>
</html>