<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CRUD on Grid</title>
    <link href="../Content/dx.light.compact.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../Scripts/dx.all.js"></script>
    <script src="../Data/dataSourceOperation.js" type="module"></script>
    <link href="../css/style.css" rel="stylesheet" />

    <style>
        .demo{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="loadPanel"></div>
        <div id="gridFunction"></div>
    </div>
    <script src="../Js/GridWithCustomStore.js" type="module"></script>
</body>
</html>