<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Remote Operation</title>
    <link href="../Content/dx.light.compact.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../Scripts/dx.all.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <script src="../Data/remoteDataSource.js" type="module"></script>
</head>
<body id="view">
    <div id="container">
        <div id="grid"></div>
    </div>
    <script src="../Js/GridRemoteOperation].js" type="module"></script>
</body>
</html>