<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Array Store</title>
    <link href="../Content/dx.light.compact.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../Scripts/dx.all.js"></script>
    <script src="../JS/employeData.js"></script>
</head>
<body>
    <div id="dxTextKey"></div>
    <div id="dxTextValue"></div><br />
    <div id="dxButtonRetrive"></div>
    <div id="dxButtonInsert"></div>
    <div id="dxButtonUpdate"></div>
    <div id="dxButtonDelete"></div>
    <script src="../JS/ArrayStore.js"></script>
</body>
</html>