<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <!--Dev Extreme Theme-->
    <link href="../Content/dx.light.compact.css" rel="stylesheet" />

    <!--jQuery Min File-->
    <script src="../Scripts/jquery-3.5.1.min.js"></script>

    <!--Dev Extreme widget link-->
    <script src="../Scripts/dx.all.js"></script>

    <script src="../JS/employeData.js"></script>
</head>
<body>
    <div id="mySelect">trdutcfuybiu</div>
    <script src="../JS/DataSource.js"></script>
</body>
</html>